{{> modalHeader}}
        <div class="modal-video">
          <div align="center" class="embed-responsive embed-responsive-16by9">
            <video
              id="video-mp4-{{@index}}"
              controls
              class="embed-responsive-item"
              style="z-index: 20;"
            >
              <source src="{{folder_base}}/{{fileName}}" type="video/mp4" />
            </video>
          </div>
        </div>
{{> modalFooter}}