{{#admin}}
  <div class='box-tools'>
    <button
      type='button'
      class='edit-title btn btn-tool'
      title='Edit Title...'
    >
      <span class='glyphicon glyphicon-pencil'></span>
    </button>
    <button
      type='button'
      class='remove-media btn btn-tool'
      title='Remove media from library...'
    >
      <span class='glyphicon glyphicon-trash'></span>
    </button>
  </div>
{{/admin}}