{{#if condition}}{{/if}}
<div class="mySliders mt-2 pb-1 mb-1">
  <div
    class="mySlides lbid-"
    style="border-bottom: 1px solid rgb(239, 239, 239); display: block;"
  >
    <a
      onclick="showPdf('images/products/1/file-sample_150kB(1).pdf' , '' , '1' , '')"
    >
      <img
        class="img-slide elevation-2"
        src="images/products/1/file-sample_150kB(1)_th.jpg?m=1605381321"
        alt="file-sample_150kB(1).pdf"
      />
    </a>
  </div>
  <div class="row columns-thumbs">
    <div class="col-xs-4">
      <img
        class="img-lite active"
        src="images/products/1/file-sample_150kB(1)_th.jpg?m=1605381321"
        onclick="currentSlide(1,)"
        alt="file-sample_150kB(1)"
      />
    </div>
  </div>
</div>