      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          onclick="download_button('{{tn}}','{{id}}');"
        >
          <i class="glyphicon glyphicon-cloud-download"></i>
          Download
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="glyphicon glyphicon-remove"></i>
          Close
        </button>
      </div>
    </div>
  </div>
</div>