{{< modalHeader}}
        <div class="box-body">
          <div class="row">
              <div class="form-group">
                <label>Send to Users</label>
                <input id="todo-list-users" hidden="true">
                <span id="s2-users-todo-list-users" ></span>
              </div>
          </div>
        </div>
{{< modalFooter}}