<small>
    <div class="task-content" data-ix="{{uid}}" >
        <div class="form-group">
            <label>Task</label>
            <span class='text {{#if deleted}}delted{{else}}task{{/if}}-text' data-cmd="edit-task">
                {{task}} 
            </span>
        </div>
    </div>
</small>