      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">
          <i class="glyphicon glyphicon-remove"></i>
          Close
        </button>
        <button type="button" class="btn btn-primary btn-xs send-taks-user" data-dismiss="modal" data-cmd="send-taks-user">
          <i class="glyphicon glyphicon-share"></i>
          Send
        </button>
      </div>
    </div>
  </div>
</div>