<div
  class="modal fade in"
  id="modal-todo"
  role="dialog"
  aria-labelledby="modalTitle-todo"
>
  <div 
    class="modal-dialog modal-sm" 
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">
            &times;
          </span>
        </button>
        <h4 class="modal-title" id="modalTitle-todo" >
          Send To Do task
        </h4>
      </div>
      <div class="modal-body" data-id = "{{uid}}">