.attachment-thumbnail {
    color: #5e6c84;
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    background-color: rgba(9, 30, 66, .04);
}

.attachment-thumbnail-preview {
    background-color: rgba(9, 30, 66, .04);
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}

ul li.list-group-item.list-group-item-action.active a {
    background-color: transparent;
    color: white;
    border: transparent;
    padding: 0;
    margin-bottom: 0;
}


.box-header>.box-tools {
    float: right;
    margin-top: -5px;
    margin-bottom: -5px;
}

.box-tools .btn {
    border: 0;
    box-shadow: none;
}


.btn-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

.btn-tool:hover {
    color: #dee3ee;
}

.btn-tool.btn:active {
    box-shadow: none;
}

.disable-content {
    pointer-events: none;
    opacity: .4;
}