<div class="small-box bg-aqua">
  <div class="inner">
    <h3>
      150
    </h3>
    <p>
      New Orders
    </p>
  </div>
  <div class="icon">
    <i class="glyphicon glyphicon-shopping-cart"></i>
  </div>
  <a href="#" class="small-box-footer">
    More info
    <i class="glyphicon glyphicon-chevron-right"></i>
  </a>
</div>