<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the contacto_init() hook (in hooks/contacto.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="contacto-name-<%%VALUE(id)%%>" class="contacto-name"><%%VALUE(name)%%></td>
		<td id="contacto-user-<%%VALUE(id)%%>" class="contacto-user"><%%VALUE(user)%%></td>
		<td id="contacto-rango-<%%VALUE(id)%%>" class="contacto-rango"><%%VALUE(rango)%%></td>
		<td id="contacto-date-<%%VALUE(id)%%>" class="contacto-date"><%%VALUE(date)%%></td>
		<td id="contacto-file-<%%VALUE(id)%%>" class="contacto-file"><a href="link.php?t=contacto&f=file&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(file)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></td>
		<script>$j(function() {
			var e_file = '<%%VALUE(file)%%>'; if(e_file == '' || e_file == '&nbsp;') $j(/*<*/ '#contacto-file-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
