<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the db_field_permission_init() hook (in hooks/db_field_permission.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="db_field_permission-ID_field_permissions-<%%VALUE(ID_field_permissions)%%>" class="db_field_permission-ID_field_permissions"><%%SELECT%%><%%VALUE(ID_field_permissions)%%><%%ENDSELECT%%></td>
		<td id="db_field_permission-groupID-<%%VALUE(ID_field_permissions)%%>" class="db_field_permission-groupID"><%%SELECT%%><%%VALUE(groupID)%%><%%ENDSELECT%%></td>
		<td id="db_field_permission-table_field-<%%VALUE(ID_field_permissions)%%>" class="db_field_permission-table_field"><%%SELECT%%><%%VALUE(table_field)%%><%%ENDSELECT%%></td>
		<td id="db_field_permission-fieldstate-<%%VALUE(ID_field_permissions)%%>" class="db_field_permission-fieldstate"><%%SELECT%%><%%VALUE(fieldstate)%%><%%ENDSELECT%%></td>
