<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the products_init() hook (in hooks/products.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="products-name-<%%VALUE(id)%%>" class="products-name"><%%SELECT%%><%%VALUE(name)%%><%%ENDSELECT%%></td>
		<td id="products-due-<%%VALUE(id)%%>" class="products-due"><%%SELECT%%><%%VALUE(due)%%><%%ENDSELECT%%></td>
