<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the salary_init() hook (in hooks/salary.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="salary-contacto-<%%VALUE(id)%%>" class="salary-contacto text-left"><%%SELECT%%><%%VALUE(contacto)%%><%%ENDSELECT%%></td>
		<td id="salary-monto-<%%VALUE(id)%%>" class="salary-monto text-left"><%%SELECT%%><%%VALUE(monto)%%><%%ENDSELECT%%></td>
		<td id="salary-mes-<%%VALUE(id)%%>" class="salary-mes text-left"><%%SELECT%%><%%VALUE(mes)%%><%%ENDSELECT%%></td>
		<td id="salary-nombre-<%%VALUE(id)%%>" class="salary-nombre text-left"><%%SELECT%%><%%VALUE(nombre)%%><%%ENDSELECT%%></td>
		<td id="salary-rango-<%%VALUE(id)%%>" class="salary-rango text-left"><%%SELECT%%><%%VALUE(rango)%%><%%ENDSELECT%%></td>
		<td id="salary-date-<%%VALUE(id)%%>" class="salary-date text-left"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></td>
