      {{#unless deleted}}
        <li data-ix = "{{@key}}">
          <span class='handle'>
            <i class='glyphicon glyphicon-th'></i>
          </span>

          <input type='checkbox' value='' class="todo-task-check" {{#if complete}} checked {{/if}} />
          <span class='text'>
            {{task}} 
          </span>
          <div class='tools'>
            <i class='glyphicon glyphicon-pencil todo-task-tool' data-cmd="edit-task"></i>
            <i class='glyphicon glyphicon-trash todo-task-tool' data-cmd="delete-task"></i>
          </div>
        </li>
      {{/unless}}