<!-- TO DO List -->
<div class='box box-primary'>
  <div class='box-header'>
    <i class='glyphicon glyphicon-list-alt'></i>
    <h3 class='box-title'>
      To Do List
    </h3>
    <div class='box-tools pull-right'>
      <button type='button' class='btn btn-box-tool close-remove'>
        <i class='glyphicon glyphicon-remove'></i>
      </button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class='box-body'>
    <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
    <ul class='todo-list'>
      <li>
        <span class='handle'>
          <i class='glyphicon glyphicon-th'></i>
        </span>
        <input type='checkbox' value='' class="todo-task-check" />
        <span class='text'>
          Let theme shine like a star
        </span>
        <div class='tools'>
          <i class='glyphicon glyphicon-pencil todo-task-edit'></i>
          <i class='glyphicon glyphicon-trash todo-task-delete'></i>
        </div>
      </li>
    </ul>
  </div>
  <!-- /.box-body -->
  <div class='box-footer clearfix no-border'>
    <div class='input-group'>
      <input type='text' class='form-control task-to-add' placeholder='Enter task...' />
      <span class='input-group-btn'>
        <button class='btn btn-default add-todo-task' type='button'>
          <i class='glyphicon glyphicon-plus'></i>
          Add task
        </button>
      </span>
    </div><!-- /input-group -->
  </div>
</div>
<!-- /.box -->